%{~ for i in webservers ~}
[webservers]

${i.name} ansible_host=${i.network_interface.0.nat_ip_address} fqdn=${i.fqdn}
%{ endfor ~}

%{~ for i in dbservers ~}

[dbservers]

${i.name} ansible_host=${i.network_interface.0.nat_ip_address} fqdn=${i.fqdn}
%{ endfor ~}

[storageservers]
{storageservers.name} ansible_host=${storageservers.network_interface.0.nat_ip_address} fqdn=${storageservers.fqdn}
